<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                <img [src]="timeline">
            </div>
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                            <img [src]="profilePIC"
                                class="rounded-circle">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                            <button id="btn-contact" (click)="clearModal()" data-toggle="modal" data-target="#contact"
                                class="btn btn-success btn-block follow">Contact</button>
                            <button (click)="editprofile()" class="btn btn-warning btn-block">Edit Profile</button>
                        </div>
                        <div class="row user-detail-row">
                            <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                                <div class="border"></div>
                                <p>FOLLOWER</p>
                                <span>320K</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>{{username}}</h1>
                                    <h5>Developer</h5>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                    <a href="*" class="btn btn-primary btn-block">Facebook</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" role="tab" data-toggle="tab"><i
                                                    class="fas fa-user-circle"></i>Profile Profesional</a>
                                        </li>

                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="table table-striped " id="profile">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label>ID </label>
                                                    
                                                    
                                                </div>
                                                <div class="col-sm-6">
                                                    <p>No data</p>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label>Name</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p>{{username}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p>{{email}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label>Mobile No.</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p>{{mobile}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label>Post</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p>{{post}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label>Date Of Birth</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p>{{dateofbirth}}</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>