<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
   
</head>
<body>
	
	<div class="limiter">
			<div *ngIf="form.errors" class="alert alert-danger">username or password is invalid</div>
		<div class="container-login100 bgImgCenter" >
				
			<div class="wrap-login100">
				<form class="login100-form validate-form " [formGroup]="form" (ngSubmit)="login()" >
					
					
					<span class="login100-form-logo">
						<i class="glyphicon glyphicon-home"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" formControlName="username" type="text" name="username" placeholder="Email Id" >
						<span class="focus-input100" data-placeholder="&#61447;"></span>

						<div *ngIf="username.touched && username.invalid" class="alert alert-danger">
							<div *ngIf="username.pending">Checking the unique name</div>
							<div *ngIf="username.errors.required">username is required</div>
							<div *ngIf="username.errors.cannotContainSpace">username can not contain space</div>
							<div *ngIf="username.errors.shouldBeUnique">username is already taken</div>
							<div *ngIf="username.errors.minlength">username minimum length is {{username.errors.minlength.requiredLength}}</div>
						</div>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" formControlName="password" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#61475;"></span>
	
					</div>
					<div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Remember me</label>
					  </div>
					<!-- <div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div> -->

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" >
							Login
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>
					<div class="text-center p-t-90">
						<a class="txt2"  (click)="onRegistratin()">
							New Registration
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>


</body>
</html>

